*{
    font-family:'Times New Roman', Times, serif;
    /* border: 1px solid red; */
}

h1
{
  color: rgb(20, 31, 20);
}
#loginform{
  margin-top: 30%;
}
.body{
  background-color: white;
  height: 100%;
}

#sidebar {
  min-width: 250px;
  max-width: 250px;
  padding-right:10px;
  background: #1a3e59;
  color: #fff;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
   
}


 
 